.THIS .slds-grid { margin:0px; text-align: center; }
.THIS .readingListGrid { border: solid 1px #dedede; cursor:pointer; padding: 10px;}
.THIS .addReadingListBlock { border:dashed 1px #dedede; cursor:pointer; display: inline-block; margin-top:5px;}