.THIS .colorRed { background-color: #8a0404; color: #ffffff; }
.THIS button.colorGreen:disabled { background-color: #ffffff; color: rgb(221, 219, 218);}
.THIS .colorGreen { background-color: #2b8a04; color: #ffffff; }
.THIS.slds-spinner_container { position:fixed;  }